@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
  width: 320px;
  height: 480px;
  font-family: "Roboto";
  overflow: hidden;
}
.inv {
  visibility: hidden;
}

#first{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
#second{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: 0.5s;
  right: -100%;
}
.toleft{
  left: -100% !important;
}
.tocenter{
  right: 0% !important;
}
.container {
  width: 320px;
  height: 480px;
  background: linear-gradient(180deg, #e3ecf5 0%, #f1f1f1 100%);
  position: relative;
  overflow: hidden;
}
.nav {
  background: white;
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center;
  padding: 9px;
}
.main-title {
  position: absolute;
  top: 108px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1a4a7f;
}
.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #002046;
  position: absolute;
  bottom: 10px;
}
.game {
  top: 160px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 271px;
  height: 245px;
}

.cell {
  background-color: white;
  border: 1px solid #1a4a7f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow:hidden ;
}
.path-color {
  fill: #fc694b;
}
.cell.clicked .path-color {
  /* background-color: gray; */
  fill: #f1f1f2;
}

.number {
  font-size: 24px;
  font-weight: bold;
}
.heart-red {
  position: absolute;
  z-index: 1;
  transition: 0.3s;
}
.number {
  position: absolute;
  z-index: 2;
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.guested .path-color {
  fill: #0159a6 !important;
}

.second-page {
  position: absolute;
  top: 102px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fc694b;
}
.second-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  text-align: center;
  color: #1a4a7f;
}
.prod{
    width: 119.61px;
    margin-top: 14px;
}
.btn {
  width: 198.59px;
  height: 32.5px;
  line-height: 32.5px;
  background: #0159a6;
  box-shadow: 0px 2px 4px #437fc2;
  border-radius: 5px;
  text-align: center;
  color: white;
  animation: pulse2 2s linear infinite;
}
.heart-red svg{
  width: 100%;
}
.cell1 .heart-red{
  left: calc(50% - 81.55px/2 + 1.82px);
  top: calc(50% - 68.94px/2 + 3.42px);
}
.cell2 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 + 13.5px);
  top: calc(50% - 93px/2 - 20px);
}
.cell3 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 - 21px);
  top: calc(50% - 93px/2 + 22px);
}
.cell3 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 - 21px);
  top: calc(50% - 93px/2 + 22px);
}
.cell4 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 - 30px);
  top: calc(50% - 93px/2 + 31px);
}
.cell5 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 + 23.5px);
  top: calc(50% - 93px/2 + 11px);
}
.cell6 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 + 14px);
  top: calc(50% - 93px/2);
}
.cell7 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 + 20px);
  top: calc(50% - 93px/2 + 26px);
}.cell8 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 - 20.5px);
  top: calc(50% - 93px/2 - 17px);
}
.cell9 .heart-red{
  width: 110px;
  height: 93px;
  left: calc(50% - 110px/2 + 23px);
  top: calc(50% - 93px/2);
}
.cell.guested  .number{
color:#0159A6 !important;
}
.cell.guested .heart-red {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scale(0.7);
  animation: pulse 2s linear infinite;
}
@keyframes pulse {
  0% {
   transform: scale(0.7);
  }

  50% {
   transform: scale(0.73);
  }

  100% {
  transform: scale(0.7);
  }
}
@keyframes pulse2 {
  0% {
   transform: scale(1);
  }

  50% {
   transform: scale(1.03);
  }

  100% {
  transform: scale(1);
  }
}